LABEL genesi64
TEXT HELP
Boot the Genesi OS install medium on BIOS.
It allows you to install Genesi OS or perform system maintenance.
ENDTEXT
MENU LABEL Genesi OS default (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-6.6-x86_64
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-6.6-x86_64.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=auto module_blacklist=pcspkr nvme_load=yes

# Fallback (nomodeset)
LABEL genesi64fb
TEXT HELP
Boot the Genesi OS install medium on BIOS in fallback mode.
ENDTEXT
MENU LABEL Genesi OS Fallback (nomodeset, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-6.6-x86_64
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-6.6-x86_64.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=auto module_blacklist=nvidia,nvidia_modeset,nvidia_uvm,nvidia_drm,pcspkr nomodeset nvme_load=yes
