.verdent

*.iso
build/
iso/
*.o
*.elf
*.txt
*.log

# Ignora todos .md exceto importantes
*.md
!README.md
!CRIAR-ISO.md
!GUIA-*.md
!QUICK-*.md
!SOLUCAO-*.md
!WSL-*.md

node_modules/
dist/
src-tauri/target/

genesi-wm/target

example/