[Unit]
Description=Apply Genesi OS branding
Before=display-manager.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/genesi-branding.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
