[Desktop Entry]
Type=Application
Name=Genesi OS Branding
Exec=/usr/local/bin/genesi-branding.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
