set timeout=1
set default=0

# Usar resolução Widescreen (1280x720) para proporção 16:9 (sem cortes)
# Se falhar, cai para o seguro 1024x768. Nunca usamos "auto" para evitar kpanic de 24bpp.
set gfxmode=1280x720x32,1024x768x32
set gfxpayload=keep
insmod all_video

menuentry "Genesi OS v0.1" {
    multiboot2 /boot/genesi.elf
    module2 /modules/test.elf "test_app"
    boot
}

menuentry "Genesi OS v0.1 (serial debug)" {
    multiboot2 /boot/genesi.elf debug
    boot
}
