[SddmGreeterTheme]
Name=Genesi OS
Description=Genesi OS Login Theme
Author=Genesi OS Team
Website=https://github.com/zFreshy/GenesiOS
License=GPL-3.0
Type=sddm-theme
Version=1.0.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
